<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <servlet>
    <servlet-name>helloworld</servlet-name>
    <servlet-class>HelloWorld</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>helloworld</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

<!--admin-->
  <servlet>
    <servlet-name>admin_employe</servlet-name>
    <servlet-class>AdminEmploye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_employe</servlet-name>
    <url-pattern>/admin/employe</url-pattern>
  </servlet-mapping>

<!--login-->
  <servlet>
    <servlet-name>admin_login</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_login</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
<!--meun-->
 <servlet>
    <servlet-name>admin_meun</servlet-name>
    <servlet-class>AdminMeun</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_meun</servlet-name>
    <url-pattern>/admin/</url-pattern>
  </servlet-mapping>
  <!--employeAdd-->
  <servlet>
    <servlet-name>admin_employeAdd</servlet-name>
    <servlet-class>AdminEmployeAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_employeAdd</servlet-name>
    <url-pattern>/admin/employeAdd</url-pattern>
  </servlet-mapping>
  <!--position-->
  <servlet>
    <servlet-name>admin_position</servlet-name>
    <servlet-class>AdminPosition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_position</servlet-name>
    <url-pattern>/admin/position</url-pattern>
  </servlet-mapping>

  <!--department-->
  <servlet>
    <servlet-name>admin_department</servlet-name>
    <servlet-class>AdminDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_department</servlet-name>
    <url-pattern>/admin/department</url-pattern>
  </servlet-mapping>
  <!--attendance-->
  <servlet>
    <servlet-name>admin_attendance</servlet-name>
    <servlet-class>AdminAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_attendance</servlet-name>
    <url-pattern>/admin/attendance</url-pattern>
  </servlet-mapping>
  <!--upload-->
  <servlet>
    <servlet-name>admin_upload</servlet-name>
    <servlet-class>AdminUploadFaceImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_upload</servlet-name>
    <url-pattern>/admin/upload</url-pattern>
  </servlet-mapping>
  <!--vacation-->
  <servlet>
    <servlet-name>admin_vacation</servlet-name>
    <servlet-class>AdminVacation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_vacation</servlet-name>
    <url-pattern>/admin/vacation</url-pattern>
  </servlet-mapping>
  <!--vacation-->
  <servlet>
    <servlet-name>admin_vacation_search</servlet-name>
    <servlet-class>AdminVacationSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_vacation_search</servlet-name>
    <url-pattern>/admin/vacation/search</url-pattern>
  </servlet-mapping>
</web-app>