<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <servlet>
    <servlet-name>helloworld</servlet-name>
    <servlet-class>HelloWorld</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>helloworld</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

<!--admin-->
  <servlet>
    <servlet-name>admin_employe_list</servlet-name>
    <servlet-class>AdminEmployeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_employe_list</servlet-name>
    <url-pattern>/admin/employelist</url-pattern>
  </servlet-mapping>

<!--login-->
  <servlet>
    <servlet-name>admin_login</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_login</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
<!--meun-->
 <servlet>
    <servlet-name>admin_meun</servlet-name>
    <servlet-class>AdminMeun</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_meun</servlet-name>
    <url-pattern>/admin/</url-pattern>
  </servlet-mapping>
  <!--employeAdd-->
  <servlet>
    <servlet-name>admin_employeAdd</servlet-name>
    <servlet-class>AdminEmployeAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_employeAdd</servlet-name>
    <url-pattern>/admin/employeAdd</url-pattern>
  </servlet-mapping>
</web-app>